{% extends "layout.html" %}
{% block content %}
<div>
<h1>sign in</h1>

<div>
    <form>
       
       <div class="field-wrap">
            <label>
              username<span class="req">*</span>
            </label>
            <input type="username"required autocomplete="on"/>
          </div>
        <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
        
        <button type="submit" class="button button-block">log in</button>
    </form>
</div>
</div>
{% endblock %}