{% extends "layout.html"%}
{% block content%}
<div>
<h1>sign up</h1>

<div>
    <form action="/" method="post">
          
          <div class="top-row">
           
<!--      first app     -->
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
<!--        last name-->
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>
<!--        username  -->
          <div class="field-wrap">
             <label>
              username<span class="req">*</span>
            </label>
            <input type="username"required autocomplete="on"/>
          </div>
          
<!--email-->
          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
<!--         password -->
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            
            <input type="password"required autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block">Get Started</button>
          
          </form>
    
</div>
</div>
{% endblock %}